.footer {
  display: flex;
  justify-content: flex-end;
}

.price_wrap {
  display: flex;
  align-items: center;
}

.price_wrap svg {
  width: auto;
  height: 33px;
}

.all_sum {
  margin-right: 10px;
}
