.simplebar-track {
  background-color: #2F2F37;
}

body .simplebar-track.simplebar-vertical {
  width: 8px;
}

body .simplebar-track.simplebar-horizontal {
  height: 8px;
}

.simplebar-scrollbar {
  background-color: #8585AD;
}

.simplebar-scrollbar.simplebar-visible:before {
  display: none;
}
