.wrap {
  max-width: 640px;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.simpleBar {
  height: 312px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
