.list {
  display: flex;
  flex-direction: column;
}

.simplebar {
  height: calc(100vh - 527px);
}

.simplebarNotBun {
  height: calc(100vh - 351px);
}

.draging {
  box-shadow: 0 0 0 1px lightgreen;
}
