html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.root {
  height: 100%;
  padding-top: 91px;
  box-sizing: border-box;
}

.content {
  overflow: auto;
  height: 100%;
}

.primary-color {
  color: #F2F2F3;
}

.secondary-color {
  color: #8585AD;
}

.success-color {
  color: rgb(0, 204, 204);
}

.pointer-none {
  pointer-events: none;
}

.form--wr-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form {
  width: 480px;
  margin: 0 auto;
  text-align: center;
}

.input__container {
  width: 100%;
}

.input {
  width: 100%;
}

a {
  color: #4C4CFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
